/* base */ /* Base */
html {
  /* Set border-box as the global default */
  box-sizing: border-box;
}

* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}
* a {
  text-decoration: none;
  color: black;
}
* ul {
  list-style: none;
}

/* Topography */
* h1, * footer h3 {
  font-family: "Shrikhand", cursive, sans-serif;
  font-weight: 550;
}
* p, * h2, * h3, * .sectionmenu h2, * .sectionmenu li {
  font-family: "Roboto", sans-serif;
}
* .sectionmenu h2 {
  text-transform: uppercase;
}

/* utils */
/* variable */ /* sass queries */
/* layouts */
/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100vw;
  min-width: 100%;
}
@media screen and (min-width: 1024px) {
  header {
    min-width: 1025px;
    max-width: 1025px;
    width: 1025px;
  }
}
header img {
  width: 200px;
}
@media screen and (min-width: 1024px) {
  header img {
    margin-left: -30px;
  }
}

/* div */
.top {
  border: 1px solid transparent;
  background-color: rgb(251, 251, 251);
  height: 250px;
  min-width: 100vw;
}
@media screen and (min-width: 1024px) {
  .top {
    min-width: 1025px;
    max-width: 1025px;
    width: 1025px;
  }
}

.txttop {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .txttop {
    min-width: 1025px;
    max-width: 1025px;
    width: 1025px;
  }
}

/* form */
form {
  text-align: center;
  border: 1px solid transparent;
  height: 30px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 -4px 3px -2px rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  form {
    min-width: 1025px;
    max-width: 1025px;
    width: 1025px;
  }
}

input {
  border: none;
  width: 100px;
  background-color: rgb(240, 240, 240);
}

/* fonction */
.fonction ul {
  padding: 0 20px 0 20px;
  align-items: center;
}
.fonction li {
  border: 1px solid transparent;
  border-radius: 35px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 5px 3px rgb(240, 240, 240);
  height: 100px;
  width: 90vw;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}
.fonction li:hover {
  background-color: rgba(146, 86, 220, 0.1019607843);
}
.fonction li:hover i {
  color: #9256dc;
}
@media screen and (min-width: 1024px) {
  .fonction li {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}
.fonction span {
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 2px 8px 2px 8px;
  color: white;
  background-color: #9356DC;
  margin-right: 25px;
  margin-left: -15px;
}
.fonction i {
  margin-right: 20px;
  color: gray;
}

.titre_fonction {
  margin-left: 50px;
}

/* Section */
.container_menu ul {
  padding: 0 20px 0 20px;
  align-items: center;
}
.container_menu img {
  width: 90vw;
  min-width: 100%;
  height: 226px;
  object-fit: cover;
  border: 1px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .container_menu img {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}
.container_menu .heart {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 20px;
}
.container_menu input {
  display: none;
}
.container_menu .fa-heart {
  font-size: 30px;
  color: rgb(230, 230, 230);
  position: relative;
  right: 10px;
  cursor: pointer;
}
.container_menu .fa-heart::after {
  content: "\f004";
  position: relative;
  right: 30px;
}
.container_menu .input:checked + label .fa-heart::after {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
}
.container_menu .new {
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3490196078);
  color: rgba(33, 163, 131, 0.9843137255);
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_menu li {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 5px 3px rgb(240, 240, 240);
  margin-top: 50px;
  width: 90vw;
  min-width: 100%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .container_menu li {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}

section h2 {
  margin-left: 50px;
}
section h3, section p {
  margin-bottom: -10px;
  margin-left: 10px;
}

/* footer */
footer {
  background-color: rgb(60, 60, 60);
  width: 100vw;
  min-width: 100%;
}
footer a {
  color: white;
}
footer h3 {
  padding-left: 30px;
  color: white;
}
footer li {
  padding-left: -10px;
  padding-bottom: 5px;
}

.fa-handshake-angle {
  font-size: 11px;
  padding-right: 8px;
}

.fa-utensils {
  padding-right: 10px;
  font-size: 13px;
}

/* components */
/* btn_head */
.btn_head {
  border: solid 1px transparent;
  border-radius: 50px;
  box-shadow: 0 2px 5px 3px rgb(220, 220, 220);
  background-color: #9356DC;
  color: white;
  width: 250px;
  margin: auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.btn_command {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 50px;
  box-shadow: 0 2px 5px 3px rgb(220, 220, 220);
  background-color: #FF79DA;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
}
.btn_command a {
  color: white;
  font-size: 15px;
}

/* pages */
/* Menu1 */
.headmenu {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .headmenu {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}

.arrow {
  font-size: 20px;
  position: relative;
  right: 15vw;
  top: 5px;
}

.logomenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banniere img {
  object-fit: cover;
  margin-top: 20px;
  height: 226px;
  width: 90vw;
  min-width: 100%;
}
@media screen and (min-width: 1024px) {
  .banniere img {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}

.titremenu {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 -30px 0;
}

.sectionmenu {
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: rgb(245, 245, 245);
  margin-left: 40px;
  position: relative;
  bottom: 40px;
  width: 90vw;
  min-width: 100%;
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .sectionmenu {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}
.sectionmenu .fa-heart {
  font-size: 30px;
  color: rgb(230, 230, 230);
  position: relative;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.sectionmenu .fa-heart::after {
  content: "\f004";
  position: relative;
  right: 30px;
}
.sectionmenu .input_menu:checked + label .fa-heart::after {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
}
.sectionmenu .input_menu {
  display: none;
}
.sectionmenu h1, .sectionmenu h2 {
  margin-left: 15px;
}
.sectionmenu h2 {
  font-size: 20px;
  margin-top: 50px;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}
.sectionmenu h3 {
  margin: 10px 0 10px 0;
}
.sectionmenu p {
  margin: 0;
}
.sectionmenu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  min-width: 100%;
}
@media screen and (min-width: 1024px) {
  .sectionmenu li {
    min-width: 970px;
    max-width: 970px;
    width: 970px;
  }
}
.sectionmenu .price {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-weight: bold;
  transition: all 1s;
}
.sectionmenu .input {
  display: none;
}
.sectionmenu .label {
  display: inline-block;
  width: 102%;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px 3px rgb(230, 230, 230);
  margin: 0 5px 20px -35px;
  padding: 11px 0px 11px 10px;
  position: relative;
  transition: all 0.5s;
}
.sectionmenu .label::after {
  content: "";
  position: absolute;
  right: -2px;
  bottom: -1px;
  width: 80px;
  height: 84px;
  border: 1px solid #99E2D0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #99E2D0;
  transition: all 1s;
  transform: scaleX(0);
  transform-origin: right;
}
.sectionmenu .input:checked + .label::after {
  transform: scaleX(1);
  transform-origin: right;
  transition: all 1s;
}
.sectionmenu .input:checked + .label .price {
  transform: translate(-80px);
  transition: all 1s;
}
.sectionmenu .input:checked + .label .fa-circle-check {
  transform: scaleX(1);
  transition: all 0.3s;
  transition-delay: 0.3s;
}
.sectionmenu .fa-circle-check {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-right: 15px;
  z-index: 1;
  transition-delay: 0.5s;
  transform: scaleX(0);
  transition: all 0.3s;
}

/* themes */
/* vendors */

/*# sourceMappingURL=style.css.map */
