/* base */ /* Base */
html {
  /* Set border-box as the global default */
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  min-width: 100%;
  margin: auto;
}

* {
  box-sizing: border-box;
}
* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin: 0;
}
* a {
  text-decoration: none;
  color: black;
}
* ul {
  list-style: none;
}

/* Topography */
* h1, * footer h3 {
  font-family: "Shrikhand", cursive, sans-serif;
  font-weight: 550;
}
* p, * h2, * h3, * .sectionmenu h2, * .sectionmenu li, * footer, * span * .new {
  font-family: "Roboto", sans-serif;
}
* .sectionmenu h2 {
  text-transform: uppercase;
  font-weight: lighter;
  color: gray;
}
* .name_menu {
  font-size: 50px;
}

/* utils */
/* variable */ /* sass queries */
/* layouts */
/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100vw;
}
@media screen and (min-width: 1024px) {
  header {
    min-width: 1025px;
    max-width: 1025px;
    width: 1025px;
  }
}
header img {
  width: 150px;
}

/* div */
.top {
  border: 0px solid transparent;
  background-color: rgb(240, 240, 240);
  width: 100vw;
  padding-bottom: 50px;
  padding-top: 30px;
}

.txttop {
  text-align: center;
  width: 90vw;
  margin: auto;
}
.txttop h2 {
  font-weight: 900;
  margin-top: -20px;
  padding: 20px;
  font-size: 23px;
}
.txttop p {
  font-size: 18px;
  color: rgb(92, 92, 92);
  font-weight: 100;
  margin-top: -20px;
}

/* form */
form {
  text-align: center;
  border: 0px solid transparent;
  height: 40px;
  padding-bottom: 20px;
  width: 100vw;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 -4px 3px -2px rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  width: 120px;
  background-color: rgb(230, 230, 230);
  color: black;
  margin-top: 20px;
  font-size: 14px;
}

#search::placeholder {
  color: rgb(70, 70, 70);
  font-size: 14px;
  font-weight: bold;
}

.fa-location-dot {
  padding-right: 15px;
  margin-top: 20px;
  color: rgb(61, 61, 61);
}

/* fonction */
.fonction {
  width: 100vw;
  margin: auto;
}
.fonction ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin: auto;
}
.fonction li {
  border: 0px solid transparent;
  border-radius: 25px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 5px 3px rgb(230, 230, 230);
  height: 70px;
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  font-size: 15px;
  padding-left: 0px;
  margin-left: 20px;
}
.fonction li:hover {
  background-color: rgba(146, 86, 220, 0.1019607843);
}
.fonction li:hover i {
  color: #9256dc;
}
@media screen and (min-width: 1024px) {
  .fonction li {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}
.fonction span {
  font-size: 12px;
  border: 0px solid transparent;
  border-radius: 50%;
  padding: 5px 8px 5px 8px;
  color: white;
  background-color: #9356DC;
  margin-right: 25px;
  position: relative;
  right: 15px;
}
.fonction i {
  margin-right: 20px;
  color: gray;
}
.fonction h2 {
  font-size: 18px;
}
.fonction h3 {
  font-size: 23px;
  width: 90vw;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .fonction h3 {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}

/* Section */
.loading {
  border: 0px solid transparent;
  background: rgb(240, 240, 240);
  width: 100vw;
}

.container_menu ul {
  align-items: center;
  padding: 0 0 25px 0;
  margin-bottom: 0px;
}
.container_menu img {
  width: 90vw;
  margin: auto;
  height: 226px;
  object-fit: cover;
  border: 0px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .container_menu img {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}
.container_menu .new {
  border: 0px solid transparent;
  border-radius: 3px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3490196078);
  color: rgba(33, 163, 131, 0.9843137255);
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.container_menu li {
  border: 0px solid transparent;
  border-radius: 20px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 5px 3px rgb(230, 230, 230);
  margin: auto auto 20px auto;
  width: 90vw;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .container_menu li {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}

section h3 {
  font-weight: 900;
}
section h3, section p {
  margin-bottom: -10px;
  margin-left: 10px;
}
section h2 {
  font-size: 25px;
  width: 90vw;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 10px;
  margin-top: 80px;
}
@media screen and (min-width: 1024px) {
  section h2 {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}

/* footer */
footer {
  background-color: rgb(60, 60, 60);
  width: 100vw;
}
footer ul {
  padding-left: 20px;
}
footer a {
  color: white;
}
footer h3 {
  padding-left: 20px;
  color: white;
}
footer li {
  padding-left: 0px;
  padding-bottom: 5px;
}

.fa-handshake-angle {
  font-size: 11px;
  padding-right: 8px;
}

.utensils_footer {
  padding-right: 10px;
  font-size: 13px;
}

/* components */
/* btn_head */
.btn_head {
  border: solid 0px transparent;
  border-radius: 50px;
  box-shadow: 0 2px 5px 3px rgb(220, 220, 220);
  background-color: #9356DC;
  color: white;
  width: 220px;
  margin: auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  cursor: pointer;
}
.btn_head:hover {
  box-shadow: 0 2px 5px 5px rgb(150, 150, 150);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  filter: brightness(1.2);
}

.btn_command {
  display: flex;
  justify-content: center;
  width: 180px;
  margin: auto;
  border: 0px solid transparent;
  border-radius: 50px;
  box-shadow: 0 2px 5px 3px rgb(220, 220, 220);
  background-color: #FF79DA;
  padding: 15px 5px 15px 5px;
  margin-bottom: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}
.btn_command a {
  color: white;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.btn_command:hover {
  box-shadow: 0 2px 5px 5px rgb(150, 150, 150);
  background: linear-gradient(#FF79DA, #9356DC);
  filter: brightness(1.2);
}

.vignet {
  opacity: 0;
  animation-name: vignet;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.vignet1 {
  animation-delay: 0.3s;
}

.vignet2 {
  animation-delay: 0.6s;
}

.vignet3 {
  animation-delay: 0.9s;
}

.vignet4 {
  animation-delay: 1.2s;
}

.vignet5 {
  animation-delay: 1.5s;
}

.vignet6 {
  animation-delay: 1.8s;
}

.vignet7 {
  animation-delay: 2.1s;
}

.vignet8 {
  animation-delay: 2.4s;
}

.vignet9 {
  animation-delay: 2.7s;
}

.vignet10 {
  animation-delay: 3s;
}

@keyframes vignet {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Heart */
.sectionmenu input {
  display: none;
}
.sectionmenu .regular_heart_menu {
  font-size: 35px;
  color: rgb(100, 100, 100);
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
.sectionmenu .solid_heart_menu {
  font-size: 35px;
  color: rgb(250, 250, 250);
  cursor: pointer;
  position: relative;
  top: 30px;
  right: 50px;
}
.sectionmenu .input_menu:checked + label .solid_heart_menu {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation-name: heart;
  animation-duration: 2s;
}
@keyframes heart {
  0% {
    height: 0px;
  }
  100% {
    height: 30px;
  }
}
.sectionmenu .input_menu {
  display: none;
}

/* Check */
.sectionmenu .position {
  position: absolute;
  z-index: 1;
  left: 20px;
}
.sectionmenu .price {
  position: absolute;
  right: 20px;
  bottom: 13px;
  font-weight: bold;
  transition: all 1s;
  color: rgb(41, 41, 41);
}
.sectionmenu .fa-circle-check {
  position: absolute;
  right: -45px;
  bottom: 22px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-right: 15px;
  z-index: 1;
  transition: all 1s;
  transform: scaleX(0);
}
.sectionmenu .input {
  display: none;
}
.sectionmenu .label {
  display: inline-block;
  width: 95%;
  height: 75px;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px 3px rgb(230, 230, 230);
  margin: 0 0px 20px 1vw;
  padding: 11px 0px 11px 10px;
  position: relative;
  overflow: hidden;
}
.sectionmenu .label::after {
  content: "";
  position: absolute;
  right: -2px;
  bottom: -1px;
  width: 80px;
  height: 75px;
  border: 1px solid #99E2D0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #99E2D0;
  transition: all 1s;
  transform: scaleX(0);
  transform-origin: right;
}
.sectionmenu .input:checked + .label::after {
  transform: scaleX(1);
  transform-origin: right;
  transition: all 1s;
}
.sectionmenu .input:checked + .label .price {
  position: absolute;
  transform: translateX(-80px);
  transition: all 1s;
}
.sectionmenu .input:checked + .label .fa-circle-check {
  transform: scaleX(1) translateX(-55px) rotate(720deg);
  transition: all 1s;
  transition-delay: 0.1s;
}
.sectionmenu .input:checked + .label .container_overflow {
  width: 50vw;
}
.sectionmenu .input:checked + .label .container_overflow .overflow1, .sectionmenu .input:checked + .label .container_overflow .overflow2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.utensils_loading {
  font-size: 20vw;
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 30%;
  left: 40vw;
  right: 40vw;
  animation-name: load2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes load2 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.utensils_loading::after {
  content: "";
  position: absolute;
  background: rgb(255, 255, 255);
  inset: 0px;
  animation-name: remplissage;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
@keyframes remplissage {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(25vw);
  }
}

.loading, .header_acceuil, .footer_acceuil, .main_fonction {
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container_menu .heart {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 20px;
  right: 30px;
}
.container_menu input {
  display: none;
}
.container_menu .regular_heart {
  font-size: 30px;
  color: rgb(100, 100, 100);
  position: relative;
  right: 10px;
  bottom: 20px;
  cursor: pointer;
}
.container_menu .solid_heart {
  font-size: 30px;
  color: rgb(250, 250, 250);
  cursor: pointer;
  position: relative;
  bottom: 20px;
  right: -20px;
}
.container_menu .input:checked + label .solid_heart {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation-name: heart;
  animation-duration: 2s;
}
@keyframes heart {
  0% {
    height: 0px;
  }
  100% {
    height: 30px;
  }
}

/* pages */
/* Menu1 */
.headmenu {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .headmenu {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}

.arrow {
  font-size: 20px;
  position: relative;
  right: 15vw;
  top: 5px;
}

.logomenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banniere img {
  object-fit: cover;
  margin-top: 20px;
  height: 350px;
  width: 90vw;
  min-width: 100%;
}
@media screen and (min-width: 1024px) {
  .banniere img {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}

.titremenu {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 -30px 0;
}

.sectionmenu {
  border: 1px solid transparent;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: rgb(245, 245, 245);
  position: relative;
  bottom: 40px;
  width: 90vw;
  min-width: 100vw;
  margin: 0 0 -40px 0;
  /* Typographie */
}
@media screen and (min-width: 1024px) {
  .sectionmenu {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
  }
}
.sectionmenu h1 {
  font-size: 30px;
  padding-left: 3vw;
  width: 70vw;
}
.sectionmenu h2 {
  font-size: 18px;
  margin: 40px 0 0 4.5vw;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  padding: 0 0 5px 0;
}
@media screen and (min-width: 1024px) {
  .sectionmenu h2 {
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    margin-left: 4vw;
  }
}
.sectionmenu h3 {
  margin: 10px 0 10px 0;
}
.sectionmenu p {
  margin: 0;
}
.sectionmenu ul {
  padding: 0 12px 0 3vw;
}
.sectionmenu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  min-width: 100%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .sectionmenu li {
    min-width: 970px;
    max-width: 970px;
    width: 970px;
    padding-right: 3vw;
  }
}
.sectionmenu .container_overflow {
  display: flex;
  flex-direction: column;
  width: 70vw;
}
.sectionmenu .overflow1 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sectionmenu .overflow2 {
  margin-top: 5px;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* themes */
/* vendors */

/*# sourceMappingURL=style.css.map */
