/* footer */

footer
{
    background-color: rgb(60, 60, 60);
    width: 100vw;
    min-width: 100%;
    
    
    

    & a {
        color: white;    
    }

    & h3 {
        padding-left: 30px;
        color: white;    
    }

    & li {
        padding-left: -10px;
        padding-bottom: 5px;    
    }
}

.fa-handshake-angle
{
    font-size: 11px;
    padding-right: 8px;
}

.fa-utensils
{
    padding-right: 10px;
    font-size: 13px;
}