/* footer */

footer
{
    background-color: rgb(60, 60, 60);
    width: 452px;

    & a {
        color: white;    
    }

    & h3 {
        margin-left: 30px;
        color: white;    
    }

    & li {
        margin-left: -10px;
        margin-bottom: 5px;    
    }
}

.fa-handshake-angle
{
    font-size: 11px;
    margin-right: 8px;
}

.fa-utensils
{
    margin-right: 10px;
    font-size: 13px;
}