.btn_command
{
    display: flex;
    justify-content: center;
    width: 180px;
    margin: auto;
    border: 0px solid transparent;
    border-radius: 50px;
    box-shadow: 0 2px 5px 3px rgb(220, 220, 220);
    background-color: $color_secondaire;
    padding: 15px 5px 15px 5px;
    margin-bottom: 20px;
    background: linear-gradient($color_secondaire, $color_primaire);
    cursor: pointer;

    & a {
        color: white;
        font-size: 15px;  
        font-family: 'Roboto', sans-serif   
    }

    &:hover {
        box-shadow: 0 2px 5px 5px rgb(150, 150, 150);
        background: linear-gradient($color_secondaire, $color_primaire);
        filter: brightness(1.2);
    }
}
