/* btn_head */

.btn_head
{
    border: solid 0px transparent;
    border-radius: 50px;
    box-shadow: 0 2px 5px 3px rgb(220, 220, 220);
    background-color: $color_primaire;
    color: white;
    width: 220px;
    margin: auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, $color_secondaire, $color_primaire);
    cursor: pointer;
    


    &:hover {
    box-shadow: 0 2px 5px 5px rgb(150, 150, 150);
    background: linear-gradient(to bottom right, $color_secondaire, $color_primaire);
    filter: brightness(1.2);
    }
}