

.fa-utensils {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    background: linear-gradient(to top right, $color_secondaire, $color_primaire);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    margin: auto;
    position: absolute;
    top: 20vw; left: 45vw; right: 45vw;
    opacity: 0;
    animation-name: load2;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    overflow: hidden;
}    
@keyframes load2 {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fa-utensils::after {
  content: "";
  position: absolute;
  background: rgb(255, 255, 255);
  inset: 0px;
  animation-name: remplissage;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  @keyframes remplissage {
    0% {transform: translateY(0px);}
    100% {transform: translateY(200px);}
  }
}
  
.loading, header, footer, .main_fonction {
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    @keyframes load {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            }
        }
  }
