
/* Heart */
.sectionmenu {
& .solid_heart_menu {
    font-size: 30px;
    color: rgb(250, 250, 250);
    cursor: pointer;
    position: relative;
    right: 10px; 
}

& .regular_heart_menu {
    font-size: 30px;
    color: rgb(230, 230, 230);
    position: relative;
    right: 40px; 
    cursor: pointer;
}

& .input_menu:checked + label .solid_heart_menu{
    background: linear-gradient(to top right, $color_secondaire, $color_primaire);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    transition: all 0.5s;
}

& .input_menu:checked + label .regular_heart_menu {
    background: linear-gradient(to top right, $color_secondaire, $color_primaire);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    transition: all 0.5s;
}

& .input_menu {
    display: none;
}
}