/* Base */

html {
    /* Set border-box as the global default */
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    min-width: 100%;
    margin: auto;
}

*
{
    box-sizing: border-box;
    & body {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        margin: 0;    
    }

    & a {
        text-decoration: none;
        color: black;
    }

    & ul {
        list-style: none;
    }
}   







