/* sass queries */


@mixin media-min($_1024px) {
    @media screen and (min-width: $_1024px) {
        &{ @content; }
    }
}

@mixin media-max($_1024px) {
    @media screen and (max-width: $_1024px) {
        &{ @content; }
    }
}

@mixin media-min($_768px) {
    @media screen and (min-width: $_768px) {
        &{ @content; }
    }
}

@mixin media-min($_480px) {
    @media screen and (min-width: $_480px) {
        &{ @content; }
    }
}

@mixin media-max($_530px) {
    @media screen and (max-width: $_530px) {
        &{ @content; }
    }
}

@mixin media-min($_530px) {
    @media screen and (min-width: $_530px) {
        &{ @content; }
    }
}

// What is the media type?
$sq-media: "all";
// Enable (or not) a small tag displaying your current breakpoint
$sq-debug: false;
// Use mobile first or not
$sq-mobile-first: true;

body
{
    @include media-max(480px) {
        
    }
}

body
{
    @include media-min(480px) {
        
    }
}

body
{
    @include media-min(768px) {
        
        
    }
}

body
{  
    @include media-min(1024px){
           
    }
}
