/* Base */

html
{
    width: 100%;
}

*
{
    /* Set border-box as the global default */
    box-sizing: border-box;
}   

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


a
{
    text-decoration: none;
    color: black;
}

ul
{
    list-style: none;
}
