/* Topography */

* {
    & h1, & footer h3 {
        font-family: 'Shrikhand', cursive, sans-serif;
        font-weight: 550;
    }

    & p, & h2, & h3, & .sectionmenu h2, & .sectionmenu li{
        font-family: 'Roboto', sans-serif    
    }

    & .sectionmenu h2{
        text-transform: uppercase;    
    }
}

