/* div */

.top
{
    border: 0px solid transparent;
    background-color: rgb(240, 240, 240);
    width: 100vw;
    padding-bottom: 50px;
}

.txttop
{
    text-align: center;
    width: 90vw;
    margin: auto;


    & h2 {
        font-weight: bolder;
        margin-top: -20px;
        padding: 20px;
    }

    & p {
        font-size: 20px;
        color: rgb(92, 92, 92);
    }
}
