/* footer */

footer
{
    background-color: rgb(60, 60, 60);
    width: 100vw;
    
    & ul {
        padding-left: 20px;
    }
    
    

    & a {
        color: white;    
    }

    & h3 {
        padding-left: 20px;
        color: white;    
    }

    & li {
        padding-left: 0px;
        padding-bottom: 5px;    
    }
}

.fa-handshake-angle
{
    font-size: 11px;
    padding-right: 8px;
}

.utensils_footer
{
    padding-right: 10px;
    font-size: 13px;
}