/* header */

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100vw;
    @include media-min(1024px){
        min-width: 1025px;   
        max-width: 1025px;
        width: 1025px;
    }
    
    & img {
        width: 150px;
        
    }
}
